@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap'); 

:root { 
    --seashell: #e7d2cc;
    --pewter: #B9B7BD;
    --gray: #868B8E;
    --ivory: #EEEDE7;
    --steelblue: #dde4e9;
}
*{ 
    font-family:'Koulen';
    background-color: var(--steelblue);
}
body{
    margin: 0 0 0 0;
}
.nav { 
    background-color: var(--ivory);
    height: auto;
    display: flex;
    justify-content: space-around;
}

.nav-element { 
    padding: 5px 20px 5px 20px;
    margin: 20px 5px;
    background-color: var(--seashell);
    border-radius: 5px;
    justify-self: right;
    font-size: 2em;
}

.nav-element:hover { 
    transform: scale(1.1);
}

.logo-div{ 

background-color: #e7d2cc;
height: auto;
display: flex;
}

.title { 
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 4em;
    font-style: italic;
    background-color: #e7d2cc;
}

.logo { 
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;    
    background-color: var(--steelblue);
    align-self: center;
}

.home-container{
    display: flex;
    flex-direction: column;
}

.home-title {
    font-size: 3em;
    align-self: center;
}

.food-algo {
    align-self: center;
}
.food-algo-description { 
    align-self: center;
}

.menu-container { 
    display: flex;
    flex-direction: column;
}
.menu-title, .ultra-modern, .menu-description {
    align-self: center;
}
.ultra-modern{
height: 400px;
}